.container {
    border: 10px solid var(--rust);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--blue);
    height: 100%;
    .lists {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li {
                color: var(--sahara);
                font-size: 1.2rem;
                text-transform: capitalize;
                font-weight: 500;
                letter-spacing: 1.1px;
                cursor: pointer;
            }
        }
        .admin-menu-items {
            border-top: 1px solid var(--sahara);
            padding-top: 1rem;
            li {
            }
        }
    }
    .button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: end;
        button {
            background-color: var(--sahara);
            color: var(--blue);
        }
    }
    .version {
    }
}
