mat-accordion {
    mat-expansion-panel {
        // width: calc(100vw - 1rem);
        // max-width: 400px;

        mat-expansion-panel-header {
            mat-panel-title {
                text-transform: capitalize;
                display: flex;
                justify-content: space-between;
            }
        }
        .venue-properties {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            .venue-property {
                flex-wrap: wrap;
                padding: 0.2rem;
                background-color: white;
                display: flex;
                justify-content: space-between;
            }
        }
        .buttons {
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            .delete {
                background-color: red;
            }
            .edit {
                background-color: white;
            }
        }
    }
}
