.image-container {
    border: 2px solid var(--rust);
    padding: 0.5rem;
    background-color: var(--sahara);
    // width: 13rem;
    .image {
        width: 100%;
    }
    .caption {
        padding: 0.3rem;
        background-color: var(--blue);
        color: var(--sahara);
    }
    .buttons {
        display: flex;
    }
}
