.wrapper {
    background-color: var(--rust);
    position: relative;
    border: 5px solid var(--sahara);
    border-radius: 30px;

    .content {
        color: var(--black);
        .header {
            color: var(--sahara);
            display: flex;
            justify-content: center;
            font-weight: bold;
            margin-bottom: 0.5rem;
            // border: 1px solid white;
        }
        .app-flags-wrapper {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        .booking-container {
            // overflow: hidden;
            transition: max-height 0.4s ease-in-out;
        }

        .booking-passive {
            max-height: 0;
            // overflow: hidden; /* hides inner content during collapse */
            // transition: height 0.5s ease-in-out;
        }
        .booking-active {
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .app-date-wrapper {
                padding: 1rem;
                background-color: var(--sahara);
                color: var(--blue);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1.1px;
            }
            .hours {
                padding: 1rem;
                background-color: var(--sahara);
                color: var(--blue);
                app-hour {
                    font-weight: bold;
                    letter-spacing: 1.1px;
                }
            }
            .app-user-venue-wrapper {
                // border: 1px solid white;
                padding: 1rem;
                background-color: var(--sahara);
                color: var(--blue);
            }
            .staff-members {
                .staff-member {
                    margin: 0.5rem 0;
                }
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: end;

        button {
            background-color: var(--sahara);
            color: var(--blue);
        }
    }
}
.spinner-container {
    padding: 3rem;
    display: flex;
    justify-content: center;
    // .custom-spinner {
    //     margin: auto;

    // }
}
