<mat-toolbar>
    <button mat-icon-button
        routerLink="staff"
        routerLinkActive="link-active">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button
        routerLink="venues"
        routerLinkActive="link-active">
        <mat-icon>stadium</mat-icon>
    </button>
    <button mat-icon-button
        routerLink="book"
        routerLinkActive="link-active">
        <mat-icon>calendar_month</mat-icon>
    </button>
    <button mat-icon-button
        routerLink="visits"
        routerLinkActive="link-active">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button
        routerLink="stats"
        routerLinkActive="link-active">
        <mat-icon>bar_chart</mat-icon>
    </button>

    <button mat-icon-button
        routerLink="admin-gallery"
        routerLinkActive="link-active">
        <mat-icon>photo_album</mat-icon>
    </button>
    <div class="version">12</div>
</mat-toolbar>
