<mat-toolbar>
    <button mat-button
        routerLink="staff"
        routerLinkActive="link-active">staff</button>
    <button mat-button
        routerLink="venues"
        routerLinkActive="link-active">venues</button>
    <button mat-button
        routerLink="book"
        routerLinkActive="link-active">book</button>
    <button mat-button
        routerLink="visits"
        routerLinkActive="link-active">visits</button>
    <button mat-button
        routerLink="all-bookings"
        routerLinkActive="link-active">all bookings</button>
    <button mat-button
        routerLink="stats"
        routerLinkActive="link-active">stats</button>
</mat-toolbar>
