<div class="filters">
    <div class="header">filters</div>
    <!-- <mat-checkbox [ngClass]="bookingsStore.onlyAmsterdamFutureFilterActive() ? 'filter-active': ''"
        [checked]="bookingsStore.onlyAmsterdamFutureFilterActive()"
        (change)="bookingsStore.set_show_future_amsterdamOnly_hidePrivate_hideHidden()">
        jazzin.amsterdam
    </mat-checkbox> -->
    <!-- <mat-form-field> -->

    <div class="date-picker"
        [ngClass]="bookingsStore.dateFilterActive() ? 'filter-active': 'filter-passive'">
        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate
                    placeholder="Start date"
                    #startInput>
                <input matEndDate
                    placeholder="End date"
                    (dateChange)="onEndDateChange(startInput.value, $event.value)">
            </mat-date-range-input>
            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>

    <!-- <mat-checkbox [ngClass]="bookingsStore.showAllActive() ? 'filter-active': ''"
        [checked]="bookingsStore.showAllActive()"
        (change)="bookingsStore.set_filter_to_null()">
        show all
    </mat-checkbox> -->

    <div class="radio-group-wrapper">

        <mat-radio-group aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="selectedView">

            <mat-radio-button class="example-radio-button"
                [ngClass]="bookingsStore.showAllActive() ? 'filter-active': 'filter-passive'"
                [checked]="true"
                (change)="bookingsStore.set_filter_to_null()"
                value="showAll">show all</mat-radio-button>
            <mat-radio-button class="example-radio-button"
                [ngClass]="bookingsStore.onlyAmsterdamFutureFilterActive() ? 'filter-active': 'filter-passive'"
                (change)="bookingsStore.set_show_future_amsterdamOnly_hidePrivate_hideHidden()"
                value="jazzInAmsterdam">jazz in amsterdam</mat-radio-button>


        </mat-radio-group>
    </div>

</div>
