.options {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    // background-color: var(--blue);
    mat-checkbox {
        border: 2px solid var(--blue);
        span {
            font-size: 1rem;
            font-weight: bold;
            // color: var(--blue) !important;
        }
    }
    .date-picker {
        display: flex;
        border: 2px solid var(--blue);
    }
}
