.wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: var(--sahara);
    max-width: 900px;
    margin: auto;
    border: 3px solid green;
    .apps {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
    .book-store {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .staff-members {
            .staff-member {
                .personalia {
                    display: flex;
                    gap: 0.5rem;
                }
            }
        }
        .venue {
        }
        .buttons {
            display: flex;
            gap: 1rem;
            .cancel {
                background-color: var(--rust);
                color: var(--sahara) !important;
                text-transform: uppercase;
                flex-grow: 1;
            }
            .book {
                // background-color: var(--blue);
                color: var(--sahara) !important;
                text-transform: uppercase;
                flex-grow: 1;
            }
        }
    }
}
