<div class="wrapper">
    <div class="apps">
        <app-date-picker></app-date-picker>
        <app-venue-picker></app-venue-picker>
        <app-time-picker></app-time-picker>
        <app-staff-picker></app-staff-picker>
        <app-private-party-picker></app-private-party-picker>
        <app-visible-to-user-picker></app-visible-to-user-picker>
    </div>
    <div class="book-store">
        <div class="header">Check info</div>
        <div class="date">{{bookStore.date()|date:'long'}}</div>
        @if(bookStore.venue()) {
        <div class="venue">{{venueStore.getVenueNameById(bookStore.venue()) }}</div>
        }
        <div class="start">from: &nbsp;{{bookStore.start()}}</div>
        <div class="end">until:&nbsp;{{bookStore.end()}}</div>
        <div class="staff-members">
            <div class="staffmembers">staffmembers:</div>
            @for(id of bookStore.staffMemberIds();track $index) {
            <div class="staff-member">
                <app-staff-member [id]="id"></app-staff-member>
                <div class="arrows">
                    <!-- <div class=""><span>bookStore.staffMemberIds().length: </span>{{bookStore.staffMemberIds().length}}</div>
                    <div class=""><span>$index</span>{{$index}}</div> -->
                    @if($index !== 0){
                    <mat-icon (click)="moveStaffMemberUp(id)">arrow_drop_up</mat-icon>
                    }
                    @if($index < bookStore.staffMemberIds().length-1){
                        <mat-icon (click)="moveStaffMemberDown(id)">arrow_drop_down</mat-icon>
                    }
                </div>
            </div>
            }

        </div>
        <div class="hidden"><span>hidden: &nbsp;</span>{{bookStore.hidden()}}</div>
        <div class="private-party"><span>private party: &nbsp;</span>{{bookStore.privateParty()}}</div>
        <!-- <div class="visible-to-user"><span>visible to user: &nbsp;{{bookStore.hidden()}}</span></div> -->
        <div class="editmode">editmode: {{bookStore.editmode()}}</div>
        @if(bookStore.id()){
        <div class="id">booking id: {{bookStore.id()}}</div>
        } @else {
        <div class="new-booking">
            new booking
        </div>
        }
        <div class="buttons">
            <button class="cancel"
                mat-raised-button
                (click)="onCancel()">cancel</button>
            @if(bookStore.formTouched()){
            <button class="book"
                [style.background-color]="bookStore.formTouched() ? 'red' : 'green'"
                [style.color]="bookStore.formTouched() ? 'white' : 'white'"
                mat-raised-button
                (click)="onBook()">{{bookStore.editmode() ? 'update':'book'}}</button>
            }
        </div>

    </div>
</div>
