.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--blue);
    // border: 3px solid pink;
}

.venues {
    // border: 3px solid lightgreen;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 0.5rem;
    .form-button {
        background-color: var(--sahara) !important;
        color: var(--blue) !important;
    }
}
