.flags-container {
    display: flex;
    gap: 0.3rem;
    img {
        height: 2rem;
        width: 3rem;
    }
}
.active {
    border: 3px solid var(--sahara);
}
.non-active {
    border: 3px solid transparent;
}
