.wrapper {
    // border: 3px solid var(--rust);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .select-file-button {
        background-color: var(--blue);
        color: var(--sahara);
        width: 150px;
        margin: auto;
        text-transform: uppercase;
    }
    // max-width: 500px;
    .img-preview-container {
        padding: 1rem;
        margin: auto;
        border: 3px solid red;
        width: 100%;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        max-width: 60vw;
        // max-height: 60vh;
        gap: 1rem;
        img {
            // width: 100%;
            // margin: auto;
        }
        mat-form-field {
            max-width: 100%;
        }

        .buttons {
            display: flex;
            gap: 1rem;
            justify-content: center;
            .store-btn {
                background-color: var(--blue);
                color: var(--sahara);
            }
        }
    }
}
