<mat-toolbar>
    <div class="header-left">


        <mat-icon (click)="uiStore.setSidenav(true)">menu</mat-icon>

        <div class="user-approved-menu">
            @for(menuItem of uiStore.menuItems() ; track $index) {
            <button mat-button
                routerLinkActive="link-active"
                [routerLink]="menuItem.link">{{uiStore.activeLanguage() === 'nl' ? menuItem.appearanceNl : menuItem.appearanceEn}}</button>
            }
        </div>

        @if(authStore.isLoggedIn()){
        <div class="admin-approved-menu">
            @for(menuItem of uiStore.adminMenuItems(); track $index){
            <button mat-button
                routerLinkActive="admin-link-active"
                [routerLink]="menuItem.link">
                {{uiStore.activeLanguage() === 'nl' ? menuItem.appearanceNl : menuItem.appearanceEn}}</button>
            }

            <button mat-button
                routerLinkActive="link-active"
                routerLink="photo-viewer">foto's</button>

            <button mat-button
                (click)="cameraInput.click()">camera

                <!-- <mat-icon class="photo-camera-icon">photo_camera</mat-icon> -->
            </button>
            <input #cameraInput
                type="file"
                accept="image/*"
                capture="environment"
                hidden
                (change)="onCameraFileSelected($event)" />

        </div>


        }



    </div>
    <div class="header-right">
        <div class="app-flags-container">
            <app-flags></app-flags>
        </div>
    </div>
</mat-toolbar>
