mat-toolbar {
    background-color: var(--rust);
    display: flex;
    justify-content: space-between;
    .header-left {
        display: flex;
        // justify-items: center;
        justify-content: space-between;
        .buttons {
            // border: 1px solid white;
            display: flex;
            gap: 0.5rem;
            text-transform: uppercase;
            button {
                background-color: var(--sahara);
            }
            .link-active {
                background-color: var(--blue);
                color: var(--sahara);
            }
        }
    }

    .header-right {
        display: flex;
        // border: 1px solid white;
        align-items: center;
        .app-flags-container {
        }
        button {
            color: var(--sahara);
            text-transform: uppercase;
        }
    }
}
