<form [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="header">instruments</div>
    <div class="instruments"
        formArrayName="instruments">
        @for(nameCtrl of instruments.controls; track $index; let i=$index){
        <div class="instrument">

            <mat-form-field>

                <input [formControlName]="i"
                    matInput
                    placeholder="Enter instrument" />
            </mat-form-field>
            <button type="button"
                mat-icon-button
                (click)="removeInstruments(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        }
    </div>

    <button type="button"
        class="form-button"
        mat-button
        (click)="addInstrument()">
        <!-- <mat-icon>add</mat-icon> -->
        add instrument
    </button>
    <button mat-button
        class="form-button"
        type="submit">confirm instruments</button>
</form>
