form {
    border: 1px solid gray;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .instruments {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        .instrument {
            // border: 1px solid green;
            display: flex;

            gap: 0.5rem;
            // border: 3px solid red;
            mat-form-field {
                width: 100%;
            }
            button {
                margin-right: 1rem;
            }
        }
    }
}
button {
    background-color: var(--blue);
    color: var(--sahara) !important;
}
