mat-sidenav-container {
    background-color: var(--blue);
    height: 100%;
    mat-sidenav {
    }
    mat-sidenav-content {
        // .layout {
        display: grid;
        grid-template-rows: auto 1fr auto; /* header, then content */
        height: 100%;
        /* Header row */
        .header-container {
            margin-bottom: 0.3rem;
        }

        /* Content row, scrollable */
        main {
            overflow-y: auto;
            // padding: 1rem;
            // background: #f5f5f5;
        }
        // }
    }
}
