<div class="bookings">
    <!-- {{bookingsStore.bookingsListVm()|json}} -->
    @if(authStore.isLoggedIn()&& !bookingsStore.showingAll()){
    <button class="get-all"
        mat-button
        (click)="bookingsStore.getAllBookings()">get all</button>
    }
    @if(authStore.isLoggedIn()&& bookingsStore.showingAll()){
    <button class="get-all"
        mat-button
        (click)="bookingsStore.getBookings()">get from today</button>
    }


    @for(booking of bookingsStore.future_hideHidden();track $index) {
    <!-- <div class="visible"
        style="background-color: orange;">
        {{booking.hidden}}
    </div> -->
    <!-- @if(booking.hidden) { -->
    <div class="booking">
        <app-booking [booking]="booking"
            [index]="$index"></app-booking>
        <!-- {{booking|json}} -->
    </div>
    }
    <!-- } -->
</div>
