.wrapper {
    background-color: var(--sahara);
    .add {
        background-color: var(--blue);
        color: var(--sahara);
    }
    .staff-members {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
        gap: 1rem;
    }
}
