<div class="wrapper">
    <div class="container">
        <div class="header">
            @if(uiStore.activeLanguage()==='nl'){
            <div class="nl">
                Voor meer informatie kun u contact openmen met:
            </div>

            }
            @if(uiStore.activeLanguage()==='en'){
            <div class="en">
                For information please contact:
            </div>
            }
        </div>
        <hr>
        <div class="contact-one">
            <div class="name">Jacko Schoonderwoerd</div>
            <div class="phone">+31 6 262 363 76</div>
            <div class="email"><a href="mailto:jackoboes@gmail.com">email</a></div>
        </div>
        <hr>
        <div class="contact-two">
            <div class="name">Eduardo Blanco</div>
            <div class="phone">+31 6 475 121 97</div>
            <div class="email"><a href="mailto:eduardotrumpet@gmail.com">email</a></div>
        </div>
    </div>
</div>
