@let personalia = addStaffStore.staffMember()?.personalia;

<div class="wrapper">
    <p mat-dialog-title>add-staff</p>
    <mat-dialog-content>

        <div class="forms">

            <app-personalia-form>
            </app-personalia-form>
            <app-instrument-form-array>

            </app-instrument-form-array>
        </div>
        <div class="store">

            <div class="header">staff member</div>
            <div class="first-name"><span>first name: </span>{{personalia?.firstName}}</div>
            @if(personalia?.particles){
            <div class="particles"><span>particles: </span>{{personalia?.particles}}</div>
            }
            <div class="last-name"><span>last name: </span>{{personalia?.lastName}}</div>

            @let instruments = addStaffStore.staffMember()?.instruments;

            @for(instrument of instruments; track $index) {
            <div class="instrument">{{instrument}}</div>
            }
        </div>
    </mat-dialog-content>
    <div class="buttons">
        <button mat-button
            class="cancel-btn"
            mat-dialog-close
            (click)="addStaffStore.cancelSelectedStaffMember()">cancel
        </button>
        <button mat-button
            class="add-btn"
            (click)="addStaffStore.addStaffMember()"
            mat-dialog-close>{{addStaffStore.editmode() ? 'update' : 'add' }} staffmember</button>


    </div>
    @let staffMember = addStaffStore.staffMember();


</div>
