.wrapper {
    margin: auto;
    background-color: var(--blue);
    color: var(--sahara);
    width: 100%;
    max-width: 500px;
    padding: 1rem;

    border: 5px solid var(--rust);
    border-radius: 13px;
    button {
        width: 100%;
        background-color: var(--sahara);
        text-transform: uppercase;
        font-weight: 500;
    }
}
