.wrapper {
    button {
        background-color: var(--sahara);
        margin-bottom: 0.5rem;
    }
    // .admin-images-container {
    //     border: 3px solid white;
    //     display: grid;
    //     grid-template-columns: 1fr 3fr;
    //     // grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    //     gap: 1rem;
    //     padding: 1rem;
    // }
}
