.venue {
    // padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .name_media {
        color: var(--sahara);
        background-color: var(--blue);
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        .name_website {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
                text-transform: uppercase;
                font-size: 1.1rem;
            }
            .links {
                // border: 1px solid pink;
                height: 2.5rem;
                display: flex;
                gap: 1rem;
                // border: 5px solid pink;
                align-items: center;

                .instagram {
                    display: inline-flex;
                    align-items: center;
                    // border: 5px solid green;
                    // width: 2rem;
                    img {
                        // border: 5px solid red;
                        width: 2rem;
                    }
                }
                .facebook {
                    display: inline-flex;
                    align-items: center;
                    // border: 5px solid green;
                    // width: 2rem;
                    img {
                        // border: 5px solid red;
                        border: 1px solid white;
                        border-radius: 5px;
                        width: 2rem;
                    }
                }
                .link-btn {
                    mat-icon {
                        color: var(--sahara);
                    }
                }
            }
        }
    }
    .address_place {
        // border: 3px solid var(--blue);
        border-radius: 5px;
        color: var(--sahara);
        background-color: var(--blue);
        padding: 0.3rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .address {
            .street {
                text-transform: uppercase;
            }
            .street_number {
                display: flex;
                gap: 0.5rem;
            }
            .city {
                text-transform: uppercase;
            }
        }
        .place {
            mat-icon {
                color: var(--sahara);
            }
        }
    }
}
