<div class="venue">

    <div class="address_place">
        <div class="address">
            <div class="street_number">
                <div class="street">{{venue()?.street}}</div>
                <div class="number">{{venue()?.number}}</div>
            </div>
            <div class="city">{{venue()?.city}}</div>
        </div>
        @if(venue()?.mapUrl){
        <button class="place"
            mat-icon-button
            (click)="onMapDialog()">
            <mat-icon>place</mat-icon>
        </button>
        }
    </div>
    <div class="name_website_link">
        <div class="name_website">
            @if(showName()){
            <div class="name">{{venue()?.name}}</div>
            } @else {
            <div class="website">website:</div>
            }
            <button class="link-btn"
                mat-icon-button
                (click)="openWebsiteDialog()">
                <mat-icon>link</mat-icon>
            </button>
        </div>
    </div>



</div>
