.wrapper {
    background-color: var(--sahara);
    width: 100%;
    border: 5px solid black;

    .form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 1rem;

        margin: auto;

        .buttons {
            display: flex;

            gap: 0.5rem;
            .add-btn {
                background-color: var(--blue);
                color: var(--sahara) !important;
                flex-grow: 1;
            }
            .cancel-btn {
                background-color: var(--rust);
                color: var(--sahara) !important;
                flex-grow: 1;
            }
        }
    }
}
