.wrapper {
    background-color: var(--sahara);
    // display: grid;
    // grid-template-columns: 3fr 1fr;
    display: grid;
    grid-template-columns: auto 300px;
    gap: 1rem;
    .top {
        display: flex;
        gap: 1rem;
        .amsterdam-future {
            background-color: var(--rust);
            color: var(--sahara);
        }
    }
}
