<div class="wrapper">



    <div class="left">

        <button mat-button
            class="amsterdam-future"
            (click)="exportExcel()">download jazzfry.xlsx</button>

        <table mat-table
            class="table"
            #table
            id="table-data"
            [dataSource]="bookingsStore.filtered()"
            matSort
            matSortActive="date"
            matSortDirection="asc">

            <ng-container matColumnDef="edit">
                <th class="edit"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>

                    edit
                </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    <button mat-icon-button
                        (click)="onEdit(dataSource)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th class="delete"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    del.
                </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    <button mat-icon-button
                        (click)="onEdit(dataSource.id)">
                        <mat-icon>delete</mat-icon>
                    </button>

                </td>
            </ng-container>



            <ng-container matColumnDef="date">
                <th class="date"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>date </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    {{dataSource.date.seconds*1000|date}}
                </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th class="start"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>start </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    {{dataSource.start}}
                </td>
            </ng-container>

            <ng-container matColumnDef="end">
                <th class="end"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>end </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    {{dataSource.end}}
                </td>
            </ng-container>

            <ng-container matColumnDef="venueName">
                <th class="venueName"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>venueName </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    {{venuesStore.getVenueNameById(dataSource.venue)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th class="city"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>city </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    {{venuesStore.getVenueCityById(dataSource.venue)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="staffMembers">
                <th class="staffMembers"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>staff </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> staff </mat-panel-title>

                            </mat-expansion-panel-header>

                            @for(id of dataSource.staffMemberIds; track $index) {
                            <app-staff-member [id]="id"></app-staff-member>
                            <!-- {{id}} -->
                            }
                        </mat-expansion-panel>

                    </mat-accordion>


                </td>
            </ng-container>

            <ng-container matColumnDef="private">
                <th class="private"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>private </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    {{dataSource.privateParty}}
                </td>
            </ng-container>

            <ng-container matColumnDef="hidden">
                <th class="hidden"
                    mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>hidden </th>
                <td mat-cell
                    *matCellDef="let dataSource">
                    {{dataSource.hidden}}
                </td>
            </ng-container>


            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <app-stats-options></app-stats-options>



</div>
