.accordion-wrapper {
    mat-accordion {
        // border: 5px solid var(--rust) !important;
        mat-expansion-panel {
            // background-color: green !important;
            background-color: var(--sahara);
            // color: var(--blue);
            padding: 0 !important;
            margin: 0 !important;

            mat-expansion-panel-header {
                // border: 3px solid var(--rust);

                mat-panel-title {
                    font-size: 0.9rem;
                    .editor {
                        button {
                            color: white;
                        }
                    }
                    .user {
                        // color: var(--sahara);
                        .start {
                            // width: 6rem;
                            display: flex;
                        }
                        .venue-name {
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .booking-info {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                margin-top: 0.2rem;
                // border-top: 5px solid var(--rust);
                border-radius: 13px;
                // padding: 0.5rem;
                padding: 1rem;
                .location {
                    .address {
                        display: flex;
                        gap: 0.5rem;
                        .venue-street {
                            text-transform: capitalize;
                        }
                    }
                    .venue-city {
                        text-transform: capitalize;
                    }
                }

                .hours {
                    background-color: var(--blue);
                    padding: 0.3rem 0.5rem;
                    color: var(--sahara);
                    display: flex;
                    gap: 0.5rem;
                    border-radius: 6px;
                }
                .private-party-notification {
                    margin: auto;
                    text-transform: uppercase;
                    font-weight: 500;
                    padding: 0.3rem 0.5rem;
                    border-radius: 10px;
                    background-color: var(--rust);
                    color: var(--sahara);
                    width: fit-content;
                }
                .staff-members {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                }
            }
        }
    }
}
.accordion-wrapper-active {
    border: 10px solid var(--rust);
    border-radius: 20px;
}

.accordion-wrapper-inactive {
    // border: 3px solid var(--sahara);
    border: 0px solid transparent;
    border-radius: 20px;
}
.accordion-wrapper {
    // border: 10px solid var(--rust); /* define base border so it can animate */
    border-radius: 20px;
    transition:
        border-color 0.3s ease-in-out,
        border-width 0.3s ease-in-out;
}

.no-padding .mat-expansion-panel-body {
    padding: 0 !important;
    margin: 0 !important; /* just in case */
}

.no-padding .mat-expansion-panel {
    margin: 0 !important;
    padding: 0 !important;
}
.no-body-padding .mat-expansion-panel-body {
    padding: 0 !important;
    margin: 0 !important;
}
.mat-expansion-indicator::after {
    color: var(--sahara) !important;
}

.expansion-panel-is-odd {
    // border: 3px solid red;
    border-radius: 100px;
}
.expansion-panel-header-is-odd {
    background-color: var(--sahara) !important;
    color: black;
    font-size: 2rem;
}
.expansion-panel-header-is-even {
    background-color: var(--blue) !important;
    color: white !important;
}
.user-is-odd {
    color: black;
}
.venue-name-is-odd {
    color: black !important;
}

.venue-name-is-even {
    color: var(--sahara) !important;
}
.user-is-even {
    color: var(--sahara);
}

.panel-open {
    font-size: 1.3rem;
}
.panel-closed {
    font-size: 1rem;
}

:host ::ng-deep .mat-expansion-panel-header {
    min-height: 64px;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    padding: 1rem !important;
}
.venue-name {
    // transition: font-size 0.3s ease-in-out;
    transition: font-size 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-panel-open {
    // border: none;
    border: 3px solid transparent;
}

.header-panel-closed {
    // border-color: var(--rust);
    border: 3px solid var(--rust);
}
.expansion-panel-header {
    // border-width: 3px;
    // border-color: solid var(--rust);
    // border: 3px solid var(--rust);
    transition: border 0.3s ease-in-out;
}
